body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

#stl-viewer {
    width: 100%;
    height: calc(100vh - 40px); /* Adjust for the header height */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}
